* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 90px;
}

.sectionTop {
    background-image: url(../../../public/images/Background.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 50vh;
    padding: 10%;
}

.sectionTop h1 {
    color: #B185A8;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
    display:flex;
}

.contenedorbarras {
    margin:25px 0px;
    display: flex;
    justify-content:center
}

.tresimagenesmundo {
    display: flex;
    justify-content:center;
    margin:auto;
    max-width: 100%;
}

.sectionMid{
    /*display: flex;
    justify-content:center;
    flex-direction: column;
    margin:0 auto;*/
}

.sectionMid h2 {
    display: flex;
    justify-content:center;
    margin: 25px auto;
    max-width: 70%;
    background-color: #B185A8;
    color: #ffffff;
    font-weight: normal;
    font-size: 1.2rem;
    padding: 0 0 2px;
    border-radius: 10px;
}

.tourCard {
    display: flex;
    justify-content: space-around;
}

.tourCard article p {
    display: flex;
    justify-content:center;
    margin-top: 15px;    
    font-size: 1.2rem;
    font-weight: bold;
    color: #B185A8;
}

.tourCardImg {
    max-width:80%;
    display: flex;
    margin: auto;
}

.recomendacionesImg {
    display: flex;
    justify-content:center;
    margin: 35px 10px 35px 0;
    max-width: 95%;
}



.sectionBot {
   
}

.tourBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardGenerica {
    max-width: 40%;
    margin: 8px 5px
}

.buttonMasTours {
    background-color: #E06A00;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    margin: 32px auto 75px;
}







@media (min-width: 768px) {
    .sectionTop {
        display: flex;
        flex-wrap: wrap;
    }

    .sectionTop h1{
        min-width: 100%;
        align-content: center;
        text-align: center;
        margin:auto
    }

    .contenedorbarras {
        max-width: 50%;
    }
    
    .tresimagenesmundo {
        max-width: 40%;
    }

    .tourCard {
        justify-content: space-evenly;
        max-width: 60%;
        margin: auto;
    }

    .sectionMid h2 {
        max-width: 60%;
    }

    .cardGenerica {
    
    }
}
