.appfooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F9F3DB; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    z-index: 100;   
  }
  
  .footerleft {
    display: flex;
    align-items: center;
  
    a {
      text-decoration: none;
    }
  
    img {
      width: 60px; 
      margin-right: 10px;      
      max-width: 50px;
    }
  }

  .logo {
    max-width: 50px;
  }
