.appheader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F9F3DB; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    min-height: 90px;
    padding: 0 12px
  }
  
  .headerleft {
    display: flex;
    align-items: center;
  }

  .lema {
    max-width: 20%;
  }
  
  .headerright {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .registrobutton {
    background-color: #E06A00;
    color: #FFFFFF;
    font-size:.7rem;
    border: none;
    min-width: 95px;
    padding: 15px 8px;
    border-radius: 100px;
    margin-right: 10px;    
  }

  .loginbutton {
    background-color: #06A77D;
    color: #FFFFFF;
    font-size:.7rem;
    border: none;
    min-width: 95px;
    padding: 15px 7px;
    border-radius: 100px;
  }


  .logo {
    max-width: 100px;
  }



  @media (min-width: 768px) {
   
    .headerleft {
      min-width:50%;
    }

    .lema {
      max-width: 70%;
      margin-left: 25px;
    }

  }