version: '3'
services:
  react_app:
    biuld:
      context: .
      dockerfile: Dockerfile.react
    volumes: ./your-react-app:/react-app
    ports:
      - "3000:3000"
    networks:
      - my_network
