<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sending Email with Thymeleaf HTML Template Example</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
        p{
            font-size: 24px;
        }
        h1,h2{
            font-size: 48px;
        }
        h3{
            font-size: 36px;
        }

        .title{
            font-size: 120px;
            display: flex;
            align: center;
            justify-content: center;
            gap: 10px;
            color: #B185A8;
        }
        a{
        text-decoration: none;
        }
        a.button{
            margin:10px auto;
            font-size: 24px;
            border: none;
            background-color: #E06A00;
            color: white;
            padding: 1rem;
            border-radius: 15px;
            transition: background-color 0.3s, color 0.3s;
        }
        a.button:hover {
            background-color: #FEBC14;
        }
        a.link{
            color:#06A77D;
            font-weight: bolder;
        }
        .imageP{
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 15px;
        }
        .container{

        }

    </style>
</head>
<body style="margin: 0; padding: 0;">

<table align="center" cellpadding="0" cellspacing="0" width="50%" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="#F9F3DB" style="padding: 40px 0 30px 0;">
            <img src="cid:logo" alt="logo" style="display: block;"   width="400"/>
        </td>
    </tr>
    <tr>
        <td  style="padding: 40px 30px 40px 30px;border-width: 2px;">
            <div style="align:center;color: #B185A8;">
                <h1 align="center" display="inline">¡Ya tenemos todo listo!</h1>
            </div>

            <p>Gracias <span th:text="${userName}">Nombre</span> por realizar tu reserva con nosotros.</p>
            <p>Informacion de tu reserva.</p>
            <h2 th:text="${name}" style="color:#06A77D">Nombre del tour</h2>
            <div class="container" style="display:flex;	justify-content: space-evenly; align-items: flex-start;	flex-wrap: wrap; 	flex-direction: row;">
                <div >
                    <img class="imageP" th:src=${image} alt="logo">
                    <p th:text="${location}" style="color:#E06A00"><svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            height="24px"
                            color="#E06A00"
                    >
                        <path d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                    </svg>Mendoza</p>
                </div>
                <div style="width:300px;height:300px">
                    <h3 align="center" style="padding:0;margin:0;color:#E06A00" >Una breve descripción </h3>
                    <p th:text="${description}" style="height:70%;overflow: auto;overflow-x:hidden; align:center">Descripción del tour.</p>
                </div>
            </div>
        </td>
    </tr>
    <tr >
        <td style="padding:0;">
            <hr align="center" style="border-top: 3px solid #bbb;padding:0px;margin:0 auto; width:80%;">
        </td>
    </tr>
    <tr align="center" style="padding:0;">
        <td style="padding: 0; align:center;">
            <h3 style="color: #B185A8;">Cuando?</h3>
            <p>El dia <span th:text="${appointmentDate}">Fecha</span> a las <span th:text="${appointmentTime}">12:00</span> hs</p>
        </td>
    </tr>
    <tr >
        <td style="padding:0;">
            <hr align="center" style="border-top: 3px solid #bbb;padding:0px;margin:0 auto; width:80%;">
        </td>
    </tr>
    <tr align="center" style="padding:0;">
        <td style="padding: 0; align:center;">
            <h3 style="color: #B185A8;">Tu anfitrion será</h3>
            <p><span th:text="${guiderFirstName}">Nombre</span> <span th:text="${guiderLastName}">Apellido</span></p>
        </td>
    </tr>
    <tr >
        <td style="padding:0;">
            <hr align="center" style="border-top: 3px solid #bbb;padding:0px;margin:0 auto; width:80%;">
        </td>
    </tr>
    <tr align="center" style="padding:0;">
        <td style="padding: 0; align:center;">
            <h3 style="color: #B185A8;">Tu experiencia requiere que</h3>

            <p>Recuerda que si no se cumplen estas condiciones no podrás realizar esta experiencia única</p>
        </td>
    </tr>
    <tr >
        <td style="padding:0;">
            <hr align="center" style="border-top: 3px solid #bbb;padding:0px;margin:0 auto; width:80%;">
        </td>
    </tr>
    <tr>
        <td style="padding: 30px 30px 30px 30px;">
            <p>En caso de que lo necesites puedes entrar a <span style="color:#B185A8;font-weight: bolder;">guid</span><span style="color:#E06A00;font-weight: bolder;">er</span> y en la sección "Mi perfil" podrás gestionar todas tus reservas.</p>
            <a href="http://guider.com.ar/perfil" target="_blank" rel="noopener noreferrer" class="button" >
                Ir a mi perfil
            </a>
        </td>
    </tr>
    <tr >
        <td style="padding:0;">
            <hr align="center" style="border-top: 3px solid #bbb;padding:0px;margin:0 auto; width:80%;">
        </td>
    </tr>
    <tr>
        <td style="padding: 30px 30px 30px 30px;">
            <p>Gracias por confiar en nosotros.</p>
            <p align="center">El equipo de <span style="color:#B185A8;font-weight: bolder;">guid</span><span style="color:#E06A00;font-weight: bolder;">er</span>.</p>
        </td>
    </tr>
</table>

</body>
</html>