<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sending Email with Thymeleaf HTML Template Example</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
        p{
            font-size: 24px;
        }
        h1,h2{
            font-size: 48px;
        }
        h3{
            font-size: 36px;
        }

        .title{
            font-size: 120px;
            display: flex;
            align: center;
            justify-content: center;
            gap: 10px;
            color: #B185A8;
        }
        a{
        text-decoration: none;
        }
        a.button{
            margin:10px auto;
            font-size: 24px;
            border: none;
            background-color: #E06A00;
            color: white;
            padding: 1rem;
            border-radius: 15px;
            transition: background-color 0.3s, color 0.3s;
        }
        a.button:hover {
            background-color: #FEBC14;
        }
        a.link{
            color:#06A77D;
            font-weight: bolder;
        }
        .imageP{
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 15px;
        }
        .container{

        }

    </style>
</head>
<body style="margin: 0; padding: 0;">

<table align="center" cellpadding="0" cellspacing="0" width="50%" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="#F9F3DB" style="padding: 40px 0 30px 0;">
            <img src="../static/images/logo.png" alt="logo" style="display: block;"   width="400"/>
        </td>
    </tr>
    <tr>
        <td  style="padding: 40px 30px 40px 30px;border-width: 2px;">
            <div style="align:center;color: #B185A8;">
                <h1 align="center" display="inline">Ya tenes tu <span th:text="${name}">Recorrido por las hermosas viñas de mendoza</span> confirmada!</h1>
            </div>

            <p>Gracias <span th:text="${userName}">Nombre</span> por realizar tu reserva con nosotros.</p>
            <p>Informacion de tu reserva.</p>
            <h2 th:text="${name}" style="color:#06A77D">Recorrido por las hermosas viñas de mendoza</h2>
            <div class="container" style="display:flex;	justify-content: space-evenly; align-items: flex-start;	flex-wrap: wrap; 	flex-direction: row;">
                <div >
                    <img class="imageP" src="https://picsum.photos/id/15/800/1200" alt="logo">
                    <p th:text="${location}" style="color:#E06A00"><svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            height="24px"
                            color="#E06A00"
                    >
                        <path d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                    </svg>Mendoza</p>
                </div>
                <div style="width:300px;height:300px">
                    <h3 align="center" style="padding:0;margin:0;color:#E06A00" >Una breve descripcion </h3>
                    <p style="height:70%;overflow: auto;overflow-x:hidden; align:center">Por la mañana nos encontraremos con nuestro guía anfitrión, quien nos acompañará a lo largo de todo el recorrido. Posteriormente, partida hacia los caminos del vino de la región de Maipu, conocida como la cuna del Malbec, donde visitaremos dos bodegas correspondientes al circuito seleccionado, recorreremos sus instalaciones y disfrutaremos la degustación de sus vinos. Aprenderemos sobre los distintos varietales de la región, sus procesos de elaboración, así como del cuidado, crianza y fraccionamiento de los vinos mendocinos. También se incluirá amplia información sobre los sistemas de conducción de la vid y del riego. Al mediodía participaremos de un almuerzo armonizado de 3 pasos con vino de una tercera bodega. Por la tarde, regreso al hotel. Opciones de visitas a bodegas en Maipu: Achaval ferrer, Alta vista, Caelum, Tempus Alba, Carmelo patti, Casarena, Chandon, Clos de chacras, Dominio del plata, Finca decero, Kaiken, Mendel, Nieto Senetiner, Norton, Ojo de agua, Renacer, Ruca Malen, Séptima, Terraza de los andes, Pasrai, Laur y otras. Menores de 3 años gratis (no les incluye el almuerzo). Si estás pensando en qué hacer en Mendoza, esta es la solución.</p>
                    </div>
            </div>
        </td>
    </tr>
    <tr >
        <td style="padding:0;">
            <hr align="center" style="border-top: 3px solid #bbb;padding:0px;margin:0 auto; width:80%;">
        </td>
    </tr>
    <tr align="center" style="padding:0;">
        <td style="padding: 0; align:center;">
            <h3 style="color: #B185A8;">Cuando?</h3>
            <p>El dia <span th:text="${appointmentDate}">12/12/2012</span> a las 15:00 hs</p>
        </td>
    </tr>
    <tr >
        <td style="padding:0;">
            <hr align="center" style="border-top: 3px solid #bbb;padding:0px;margin:0 auto; width:80%;">
        </td>
    </tr>
    <tr align="center" style="padding:0;">
        <td style="padding: 0; align:center;">
            <h3 style="color: #B185A8;">Tu anfitrion será</h3>
            <p>Marco Solis</p>
        </td>
    </tr>
    <tr >
        <td style="padding:0;">
            <hr align="center" style="border-top: 3px solid #bbb;padding:0px;margin:0 auto; width:80%;">
        </td>
    </tr>
    <tr align="center" style="padding:0;">
        <td style="padding: 0; align:center;">
            <h3 style="color: #B185A8;">Tu experiencia requiere que</h3>
            <p>Botas: El camino es resbaladizo y las requiere</p>

            <p>Recuerda que si no se cumplen estas condiciones no podras realizar esta experiencia unica</p>
        </td>
    </tr>
    <tr >
        <td style="padding:0;">
            <hr align="center" style="border-top: 3px solid #bbb;padding:0px;margin:0 auto; width:80%;">
        </td>
    </tr>
    <tr>
        <td style="padding: 30px 30px 30px 30px;">
            <p>Gracias por confiar en nosotros.</p>
            <p align="center">El equipo de <span style="color:#B185A8;font-weight: bolder;">guid</span><span style="color:#E06A00;font-weight: bolder;">er</span>.</p>
        </td>
    </tr>
</table>

</body>
</html>