<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sending Email with Thymeleaf HTML Template Example</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
        p{
            font-size: 24px;
        }
        h1{
            font-size: 48px;
        }
        .title{
            font-size: 120px;
            display: flex;
            align: center;
            justify-content: center;
            gap: 10px;
            color: #B185A8;
        }
        a{
        text-decoration: none;
        }
        a.button{
            margin:10px auto;
            font-size: 24px;
            border: none;
            background-color: #E06A00;
            color: white;
            padding: 1rem;
            border-radius: 15px;
            transition: background-color 0.3s, color 0.3s;
        }
        a.button:hover {
            background-color: #FEBC14;
        }
        a.link{
            color:#06A77D;
            font-weight: bolder;
        }

    </style>
</head>
<body style="margin: 0; padding: 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="50%" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="#F9F3DB" style="padding: 40px 0 30px 0;">
            <img src="cid:logo" alt="logo" style="display: block;"   width="400"/>
        </td>
    </tr>
    <tr>
        <td  style="padding: 40px 30px 40px 30px;">
            <div style="align:center;color: #B185A8;">
                <h1 align="center" display="inline">Bienvenido <span th:text="${name}">Name</span>!</h1>
            </div>

            <p>Estamos muy contentos de que formes parte de esta comunidad en crecimiento.</p>
            <p>Como integrante de esta comunidad, podras hacer reservaciones de experiencias que solo nuestros <span style="color:#B185A8;font-weight: bolder;">guid</span><span style="color:#E06A00;font-weight: bolder;">ers</span> pueden darte.</p>
            <p>Recuerda que estamos para ayudarte y darte todo el apoyo que necesites
            </p>
            <p>Te invitamos a que mires
                <a href="http://guider.com.ar/" target="_blank" rel="noopener noreferrer" class="link" >
                    nuestros tours</a>
                y que te animes a reservar una experiencia unica a la aventura que tenemos para ofrecerte .</p>

        </td>
    </tr>
    <tr>
        <td style="padding: 30px 30px 30px 30px;">
            <p>Gracias por confiar en nosotros.</p>
            <p align="center">El equipo de <span style="color:#B185A8;font-weight: bolder;">guid</span><span style="color:#E06A00;font-weight: bolder;">er</span>.</p>
        </td>
    </tr>
</table>

</body>
</html>