.appheader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F9F3DB; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    z-index: 100;   
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  .headerleft {
    display: flex;
    align-items: center;
  
    a {
      text-decoration: none;
    }
  
    img {
      width: 60px; 
      margin-right: 10px;
      
    max-width: 50px;
    }
  }
  
  .headerright {
    button {
      margin-left: 10px; 
    }
  }

  .registrobutton {
    background-color: #E06A00;
    border: none;
  }

  .loginbutton {
    background-color: #06A77D;
    border: none;
  }


  .logo {
    max-width: 50px;
  }
